@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700);
@import 'http://yui.yahooapis.com/pure/0.4.2/pure-min.css';
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, sans-serif; }

h1 {
  color: #274551;
  font-size: 20px;
  font-weight: 700;
  margin: 0; }

h4 {
  border-top: 2px solid #bbb;
  color: #bbb;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  padding-top: 5px;
  margin: 40px 0 20px 0;
  text-transform: uppercase; }

p,
span,
ul,
li,
.list-header,
.list-subheader {
  font-family: Garamond, Baskerville, serif;
  font-size: 13px;
  line-height: 150%; }

.list-header {
  color: #222;
  display: block;
  font-weight: 600; }
  .list-header span {
    color: #999;
    float: right;
    font-weight: 400; }

a {
  color: inherit; }

span {
  color: #274551;
  font-weight: 400;
  margin: 0; }

.fa-left {
  margin-right: 10px; }

.fa-right {
  margin-left: 10px; }

.container {
  margin: 0 auto;
  width: 80%; }
  .container .title-block {
    margin: 25px 0 25px 0; }
  .container .projects-block {
    margin: 97px 0 0 0; }
  .container .block {
    padding: 0 20px; }
    .container .block .header-container {
      width: 100%; }
    .container .block ul {
      margin: 0 0 10px 0;
      padding: 0 100px 0 0; }
