.container {
  margin: 0 auto;
  width: 80%;
  .block {
    padding: 20px;
    .header-container {
      width: 100%;
    }
    .list-header {
      
    }
    ul {
      margin: 0 0 10px 0;
      padding: 0 100px 0 0;
    }
  }
}