.container {
  margin: 0 auto;
  width: 80%;
  .title-block {
    margin: 25px 0 25px 0;
  }
  .projects-block {
    margin: 97px 0 0 0;
  }
  .block {
    padding: 0 20px;
    .header-container {
      width: 100%;
    }
    .list-header {
      
    }
    ul {
      margin: 0 0 10px 0;
      padding: 0 100px 0 0;
    }
  }
}