.container {
  margin: 0 auto;
  .sidebar {
    background-color: #eee;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    .logo {
      color: #333;
      cursor: default;
      font-weight: 500;
      padding: 40px;
    }
    .menu {
      > div {
        border-left: 5px solid #eee;
        color: #999;
        cursor: pointer;
        font-size: 11px;
        font-weight: 600;
        padding: 10px 40px 10px 35px;
        text-align: center;
        text-transform: uppercase;
        &:hover {
          color: #666;
        }
      }
      .on {
        border-left-color: $blue;
        background-color: #fff;
        color: $blue;
        &:hover {
          color: $blue;
        }
      }
    }
  }
  .content {
    margin-left: 161px;
    padding: 102px 80px 0 80px;
    .about-content {
      height: 100vh;
    }
    .work-content,
    .projects-content {
      div {
        margin-bottom: 80px;
        .description {
          display: inline-block;
          width: 30%;
          p {
            margin: 20px 0 0 0;
          }
        }
        img {
          width: 60%;
        }
      }
    }
  }
}