body {
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  color: #ccc;
  font-size: 60px;
  font-weight: 300;
  line-height: 200px;
  margin: 80px 0;
  text-align: center;
}

h2 {
  font-weight: 600;
  margin: 0;
  span {
    color: #999;
    font-size: 15px;
    font-weight: 300;
  }
}

h3 {
  color: #999;
  font-family: Avenir, Helvetica Neue, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 300;
  margin: 5px 0;
  text-transform: uppercase;
}

p {
  color: #444;
  font-family: Baskerville;
  font-size: 18px;
  line-height: 26px;
  margin: 0;
  a {
    border-bottom: 2px solid lighten($blue, 40%);
    color: $blue;
    padding-bottom: 0px;
    &:hover {
      border-color: lighten($blue, 20%);
      color: $blue;
    }
  }
}

p.bio {
  font-size: 22px;
  line-height: 34px;

  span {
    display: block;
    margin-bottom: 5px;

    b {
      font-weight: 400 !important;
    }
  }

  .name {
    font-size: 42px;
    margin-bottom: 40px;
  }

  .school {

  }

  .majors {

  }

  .summary {
    margin: 40px 0;
    width: 50%;
  }


}

.bio-contact {
  font-size: 24px;
  margin-top: 20px;

  a {
    color: #333;
    margin-right: 20px;

    &:hover {
      color: #000;
    }
  }

  .email {
    border-bottom: 2px solid #CEE0E8;
    color: $blue;
    font-size: 16px;

    &:hover {
      border-color: $blue;
      color: $blue;
    }

  }
}
