h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, sans-serif;
}

h1 {
  color: $navy;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

h4 {
  border-top: 2px solid #bbb;
  color: #bbb;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  padding-top: 5px;
  margin: 40px 0 20px 0;
  text-transform: uppercase;
}

p,
span,
ul,
li,
.list-header,
.list-subheader {
  font-family: Garamond, Baskerville, serif;
  font-size: 13px;
  line-height: 150%;
}

.list-header {
  color: #222;
  display: block;
  font-weight: 600;
  span {
    color: #999;
    float: right;
    font-weight: 400;
  }
}

a {
  color: inherit;
}

span {
  color: $navy;
  font-weight: 400;
  margin: 0;
}